@model Recruitment.CandidateViewModel

@{
    ViewBag.Title = "Trang chủ";
    int stt = 1;
}


<form action="/Approve/Index/">
    <div class="input-group w-25 py-3">
        <input type="text" class="form-control" placeholder="Nhập từ khoá" name="searchstr">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">
                Tìm kiếm
            </button>
        </div>
    </div>
</form>

<form action="/Approve/Index/">
    <div class="form-row w-25">
        <div class="form-group col-md-6">
            <label>Vị trí</label>
            @Html.DropDownListFor(model => model.PositionId, ViewBag.PositionList as SelectList, "-- Select --", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-6">
            <label>Chức danh</label>
            @Html.DropDownListFor(model => model.LevelId, ViewBag.LevelList as SelectList, "-- Select --", new { @class = "form-control" })
        </div>
    </div>

    <button type="reset" class="btn btn-success">Đặt lại</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-success">Tìm kiếm</button>
</form>

<!-- List candidate -->
<table class="table table-bordered mt-3">
    <thead>
        <tr class="text-center bg-secondary text-white">
            <th scope="col">STT</th>
            <th scope="col" onclick="location.href='/Approve/Index?sortOrder=@ViewBag.SortByName'">Họ tên</th>
            <th scope="col" onclick="location.href='/Approve/Index?sortOrder=@ViewBag.SortByPosition'">Vị trí</th>
            <th scope="col" onclick="location.href='/Approve/Index?sortOrder=@ViewBag.SortByLevel'">Chức danh</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Nguồn</th>
            <th scope="col">Đã từng apply</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.CandidateList)
        {
            <tr>
                <td class="text-center">@stt</td> @{stt++;}
                <td>@item.FullName</td>
                <td>@item.PositionName</td>
                <td>@item.LevelName</td>
                <td>@item.Birthday</td>
                <td>@item.Address</td>
                <td>@item.IntroduceName</td>
                <td>
                    @switch (item.IsApplied)
                    {
                        case 0:
                            {
                                <span>CV Không được duyệt</span>
                                break;
                            }
                        case 2:
                            {
                                <span>Duyệt CV</span>
                                break;
                            }
                        case 3:
                            {
                                <span>Mời test</span>
                                break;
                            }
                        case 4:
                            {
                                <span>Test Ok</span>
                                break;
                            }
                        case 5:
                            {
                                <span>Mời PV V1</span>
                                break;
                            }
                        case 7:
                            {
                                <span>Pass V1</span>
                                break;
                            }
                        case 8:
                            {
                                <span>Mời PV V2</span>
                                break;
                            }
                        case 9:
                            {
                                <span>Pass V2</span>
                                break;
                            }
                        case 10:
                            {
                                <span>Đã gửi offer</span>
                                break;
                            }
                        case 11:
                            {
                                <span>Đã nhận offer</span>
                                break;
                            }
                        case 12:
                            {
                                <span>Đã gửi form</span>
                                break;
                            }
                        case 13:
                            {
                                <span>All OK</span>
                                break;
                            }
                        default: break;
                    }


                </td>
                <td class="text-center">
                    @if (item.IsPDF)
                    {
                        <button type="button" class="btn btn-success btn-sm" onclick="ShowCV(@item.CandidateId)">Xem CV</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-info btn-sm" onclick="location.href='../wwwroot/CV/@item.CV'">Tải CV</button>
                        <button type="button" class="btn btn-success btn-sm" onclick="location.href = '/Approve/ApplyCV?candidateId=@item.CandidateId&apply=1'">Duyệt</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="location.href = '/Approve/ApplyCV?candidateId=@item.CandidateId&apply=0'">Loại</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content" id="myModalBodyDiv1">

        </div>
    </div>
</div>

<script>

    var ShowCV = function (candidateId) {

        var url = "/Approve/ShowCV?CandidateId=" + candidateId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }
</script>

