@page "/"
@inject IOrderService _orderService

<form>
    <div class="input-group w-25 py-3">
        <input type="text" class="form-control" >
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                Search
            </button>
        </div>
    </div>
</form>

<!-- List candidate -->
<table class="table table-bordered">
    <thead>
        <tr class="text-center bg-secondary text-white">
            <th scope="col">Product Name</th>
            <th scope="col">Category Name</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Order Date</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in OrderList)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Category.Name</td>
                <td>@item.Customer.Name</td>
                <td>@item.OrderDate</td>
                <td>@item.Amount</td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<Order> OrderList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        OrderList = await _orderService.GetAll();
    }
}
