@model Recruitment.CandidateViewModel

@{
    ViewBag.Title = "Index";
}

<form action="/Contact/Index/">
    <div class="input-group w-25 py-3">
        <input type="text" class="form-control" placeholder="Nhập từ khoá" name="searchstr">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                Tìm kiếm
            </button>
        </div>
    </div>
</form>

<form action="/Contact/Index/" method="post">
    <div class="form-row w-75">
        <div class="form-group col-md-2">
            <label>Vị trí</label>
            @Html.DropDownListFor(model => model.PositionId, ViewBag.PositionList as SelectList, "", new { @class = "form-control custom-select" })
        </div>

        <div class="form-group col-md-2">
            <label>Chức danh</label>
            @Html.DropDownListFor(model => model.LevelId, ViewBag.LevelList as SelectList, "", new { @class = "form-control custom-select" })
        </div>

        <div class="form-group col-md-2">
            <label>Liên hệ</label>
            <select class="form-control custom-select" name="Contacted">
                <option></option>
                <option value="1">Chưa liên hệ</option>
                <option value="2">Đã liên hệ</option>
                <option value="3">Không liên hệ được</option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label>PV từ ngày</label>
            <input type="date" class="form-control" name="FromDate" />
        </div>

        <div class="form-group col-md-2">
            <label>PV đến ngày</label>
            <input type="date" class="form-control" name="ToDate" />
        </div>

        <div class="form-group col-md-2">
            <label>Địa điểm</label>
            <select class="form-control custom-select" name="Location">
                <option></option>
                <option>Hà Nội</option>
                <option>Huế</option>
            </select>
        </div>
    </div>
    <button type="reset" class="btn btn-primary">Đặt lại</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>

<form>
    <div class="text-right">
        <button type="submit" formaction="/Contact/MultiSend" class="btn btn-success">Gửi mail</button>&nbsp;
        <button type="submit" formaction="/Contact/CreateMail" class="btn btn-success">Tạo nội dung mail</button>
    </div>

    <!-- List candidate -->
    <table class="table table-bordered mt-3">
        <thead>
            <tr class="text-center bg-secondary text-white">
                <th scope="col"><input type="checkbox" onclick="CheckAll(this)" /></th>
                <th scope="col" onclick="location.href='/Contact/Index?sortOrder=@ViewBag.SortByName'">Họ tên</th>
                <th scope="col" onclick="location.href='/Contact/Index?sortOrder=@ViewBag.SortByPosition'">Vị trí</th>
                <th scope="col" onclick="location.href='/Contact/Index?sortOrder=@ViewBag.SortBylevel'">Chức danh</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col" onclick="location.href='/Contact/Index?sortOrder=@ViewBag.SortByContacted'">Liên hệ</th>
                <th scope="col" onclick="location.href='/Contact/Index?sortOrder=@ViewBag.SortByTime'">Thời gian PV</th>
                <th scope="col" onclick="location.href='/Contact/Index?sortOrder=@ViewBag.SortByLocation'">Địa điểm PV</th>
                <th scope="col" onclick="location.href='/Contact/Index?sortOrder=@ViewBag.SortByInterviewName'">Người PV</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.CandidateList)
            {
                <tr>
                    @{
                        var x = item.InterviewTime == null ? "disabled" : "";
                    }
                    <td class="text-center">
                        <input type="checkbox" name="CandidateId" value="@item.CandidateId" @x />
                        @*@Session.Remove($"SendError{@item.CandidateId}")*@
                    </td>
                    <td>
                        @item.FullName
                        <p class="text-danger">
                            @Session[$"SendError{item.CandidateId}"]
                            @{Session[$"SendError{item.CandidateId}"] = "";}
                        </p>
                    </td>
                    <td>@item.PositionName</td>
                    <td>@item.LevelName</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>
                        @if (item.IsContacted == null)
                        {

                        }
                        else if (item.IsContacted)
                        {
                            <span>Đã liên hệ</span>
                        }
                        else if (!item.IsContacted)
                        {
                            <span>Không liên hệ được</span>
                        }
                    </td>
                    <td>@item.InterviewTime</td>
                    <td>@item.InterviewLocation</td>
                    <td>@item.InterviewName</td>
                    <td>@item.Note</td>
                    <td>Duyệt CV</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-info btn-sm" onclick="Schedule(@item.CandidateId)">
                            @if (item.LevelId == 1)
                            {
                                <span>Lịch test</span>
                            }
                            else
                            {
                                <span>Lịch PV</span>
                            }
                        </button>&nbsp;
                        @if (Session[$"Mail{item.CandidateId}"] != null)
                        {
                            <button type="button" class="btn btn-success btn-sm" onclick="SendEmail(@item.CandidateId)">Preview</button>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</form>
<!-- Modal -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lịch phỏng vấn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mailModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Gửi mail cho ứng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mailModalBody">

            </div>

        </div>
    </div>
</div>

<script>
    var Schedule = function (candidateId) {

        var url = "/Contact/ScheduleView?CandidateId=" + candidateId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }

    var SendEmail = function (candidateId) {
        var url = "/Contact/SendMailView?CandidateId=" + candidateId;

        $("#mailModalBody").load(url, function () {
            $("#mailModal").modal("show");
        })
    }

    var CheckAll = function toggle(source) {
        checkboxes = document.getElementsByName('CandidateId');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].disabled)
                continue;
            checkboxes[i].checked = source.checked;
        }
    }
</script>
